body{
   background-color: #a59e9e;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.name{
   font-size: 60px;
}

.container{
   background: #ececec;
   width: 300px;
   height: 300px;
   margin: 8% auto 0;
   border-radius: 50%;
   border: 14px solid #684701;
   position: relative;
   
   box-shadow: 3px 2px 30px 1px rgb(169, 80, 80);
}

.hour-hand {
   position: absolute;
   z-index: 5;
   width: 4px;
   height: 65px;
   background: #333;
   top: 79px;
   transform-origin: 50% 72px;
   left: 50%;
   rotate: 180deg;
   margin-left: -2px;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
 }
 
 .minute-hand {
   position: absolute;
   z-index: 6;
   width: 4px;
   height: 100px;
   background: #1b1a1a;
   top: 46px;
   left: 50%;
   margin-left: -2px;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   transform-origin: 50% 105px;
 }
 
 
 .dot {
   width: 14px;
   height: 14px;
   border-radius: 50%;
   background: #ccc;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   position: absolute;
   z-index: 10;
   box-shadow: 0 2px 4px -1px black;
 }
 

 .col{
   margin: 65px;
   height: 160px;
   width: 160px;
   border-radius: 50%;
   border: 5px solid black;
 }

 span{
   display: inline-block;
   position: absolute;
   color: #413535;
   font-size: 30px;
   font-family: 'Poiret One';
   font-weight: 700;
   z-index: 4;
   
 }
 .h12 {
   top: 15px;
   left: 45%;
   margin-left: -9px;
 }
 .h1{
   top: 30px;
   right: 80px;

  
 }
 .h2{
   top: 80px;
   right: 28px;
   
  
 }
 .h3 {
    top: 140px;
    right: 15px;
    
   }
 .h4{
     top: 195px;
     right: 30px;
     
   }
 .h5{
      top: 230px;
      right: 75px;
      rotate: -25deg;
    }
 
 .h6 {
   bottom: 20px;
   left: 46%;
   margin-left: -5px;
 }
 .h7{
   top: 235px;
   right: 190px;
 }
 .h8{
   top: 190px;
   right: 229px;
 }
 .h9 {
   left: 20px;
   top: 135px;
   
 }
 .h10{
   top: 80px;
   left: 30px;
 }
 .h11{
   top: 35px;
   left: 60px;
 }